body {
  margin: 0;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7ab7b6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
	padding: 10px;
}

.section {
	display: flex;
	margin: 0px auto 40px auto;
	flex-direction: column;
	border: 1px solid black;
	box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.editor-section {
	width: 50%;
}

.previewer-section {
	width: 70%;
}

.maximized-section {
	width: 95vw;
	height: 95vw;
}

.header {
	display: flex;
	justify-content: space-between;	
	background-color: #4aa3a3;
	font-family: 'Russo One';
	font-size: 15px;
	padding: 10px;
	border-bottom: 1px solid black;
}

#resize-button {
	cursor: pointer;
}

#resize-button:hover {
	opacity: 0.5;
}

.text-input {
	background-color: #c0d8d8;
	height: 100%;
	resize: vertical;
	font-size: 12px;
}

.text-input-maximized {
	resize: none;
}

.minimized {
	display: none;
}




