<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
         <form #f="ngForm" (ngSubmit)="handleSubmit(f)">
             <label for="email">Email</label>
             <input id="email" type="email" class="form-control" name="email" ngModel required email #email="ngModel"/>
             <p *ngIf="!email.valid && email.touched">Email invalid</p>
             <label for="subscription">Subscription type:</label>
             <select class="form-control" name="subscription" id="subscription" [ngModel]="defaultSubscription">
                 <option value="basic">Basic</option>
                 <option value="advanced">Advanced</option>
                 <option value="pro">Pro</option>
             </select>
             <label for="password">Password</label>
             <input id="password" type="password" class="form-control" name="password" ngModel required />
             <button class="btn btn-primary" type="submit">Submit</button>
         </form>
         <p *ngIf="!f.valid && f.touched">Form invalid</p>
         <h3>Form inputs</h3>
         <p *ngFor="let input of formData | keyvalue">{{ input.key }}: {{ input.value }}</p>
      </div>
    </div>
  </div>
  