* {
  box-sizing: border-box;
}

body {
	color: #333;
	padding: 25px 2px;
}

#main {
	background-color: #eeeeee;
	border-radius: 3px;
	padding: 15px 15px 25px 15px;	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

#img-div {
	background-color: white;
	margin-top: 20px;
}

#image {
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
}

#img-caption {
	display: inline-block;
	margin-bottom: 20px;
}


#tribute-info {
	max-width: 650px;
	margin: auto;
	text-align: left;
	padding: 45px;
}

.life-accomplishments-intro {
	font-weight: bold;
	font-size: 1.17em;
}

li {
	margin: 10px;
}

footer {
	font-weight: bold;
	font-size: 1.17em;
}