body {
	background: #D3D3D3;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.nav-list {
	display: flex;
	flex-direction: row;
	font-size: 25px;
}

.nav-list {
	
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #d0021b;
	margin: 10px;
}

.active {
	font-weight: bold;
}

.languageList {
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.languageList li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item {
	margin: 20px;
	text-align: center;
}

.popular-rank {
	font-size: 20px;
	margin: 10px;
}

.space-list-items {
	margin-bottom: 7px
}

.avatar {
	width: 100px;
	border-radius: 50%;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	color: #e6e6e6;
	background: #0a0a0a;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	width: 200px;
	text-align: center;
	display: block;
	padding: 7px 0;
	margin: 10px auto;
}

.button:hover:enabled {
	background: linear-gradient(#1a1a1a,#0a0a0a);
	color: #fff;
	text-decoration: none;
}

.button:active {
	transform: translateY(1px);
}

.battle-section {
	display: flex;
	justify-content: space-around;
}

.player-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.player-name {
	border-radius: 3px;
	width: 80%;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.43);
	padding: 5px;
	margin: 10px 0;
}

h2 {
	font-size: 30px;
	font-weight: 200;
}



