body {
	background: #D3D3D3;
}

ul {
	padding: 0;
}

.languageList {
	display: flex;
	justify-content: center;

}

.languageList li {
	list-style: none;
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}